.article {
  position: fixed;
  width: 100%;
  top: 0;
  left: -100%;
  min-height: 100%;
  z-index: $zindex-article;
  transition: left 0.4s ease-out, width 0.4s ease-out;

  @media (min-width: $screen-sm) {
    top: 208px;
  }
  &.show {
    left: 0;
  }
}

.article-content {
  display: none;
  background: $white;
  overflow-x: hidden;
  height: 100vh;
  padding: 1em;
  @media (min-width: $screen-sm) {
    height: calc(100vh - 220px);
    width: 70%;
    margin: 0 auto;
    border-radius: 4px;
  }
  &.block {
    display: block;
  }
  header {
    @include flexbox();
    @include flex-flow(row nowrap);
    @include justify-content(space-between);
    @include align-items(center);
    margin: 0.5em 0 1em;
    p {
      font-size: 1.5em;
      font-family: $fontGab;
    }
  }
  main {
    padding: 0 0 1em;
  }
}

.article-main-img {
  overflow: hidden;
  @media (min-width: $screen-sm) {
    height: 200px;
  }
}

.article-img-title {
  width: 100%;
  @media (min-width: $screen-md) {
    position: relative;
    top: -60px;
  }
  @media (min-width: $screen-lg) {
    top: -250px;
  }
}

.article-summary {
  color: $white;
  background: $kashmirblue;
  padding: 0.5em;
  text-transform: uppercase;
  font-weight: $fontWeightBold;
}

.article-text {
  margin: 1em 0;
}

.img-container {
  width: 100%;
  @include flexbox();
  @include flex-flow(row wrap);
  div {
    width: 50%;
    height: 100px;
    padding: 0.1em;
    position: relative;
    overflow: hidden;
    @media (min-width: $screen-sm) {
      width: 33.333333333333333%;
      height: 120px;
    }
    @media (min-width: $screen-md) {
      width: 20%;
      height: 110px;
    }
    @media (min-width: $screen-lg) {
      width: 20%;
      height: 130px;
    }
  }
  .thumbnail {
    width: 150%;
    position: relative;
    overflow: hidden;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}
