.blog {
    @include flexbox();
    @include flex-flow(column nowrap);
    width:100%;
    height: 100vh;
    background: url("../img/pink.png") no-repeat;
    background-size: cover;
    transition: width .4s ease-out;
    @media(min-width: $screen-sm) {
        background: url("../img/new-york-manhattan.jpg") no-repeat;
        background-size: cover;
    }
    @media(min-width: $screen-lg) {
        &.open{
            width: 75%
        }
    }
    .header {
        @include flexbox();
        @include flex-flow(row);
        @include justify-content(space-between);
        @include align-items(flex-start);
        width:100%;
        padding: 1em;
    }
}

h1 {
    font-family: $fontPlaza;
    font-weight: $fontWeightBase;
    color: $white;
    font-size: 2em;
    text-shadow: 1px 1px 8px $black;
    line-height: 1;
    @media(min-width:$screen-sm){
        font-size: 5.5em;
    }
}

.main{
    position: relative;
    width: 100%;
    flex: 1 1;
    overflow-x: hidden;
    @media(min-width: $screen-sm){
        width: calc( 100% + 20px );
    }

    // adding style to Article and Cards components when an article is open
    &.open {
        .article {
          left: 0;
          opacity: 1;
          width: 100%;
          height: 100%;
        }
        .cards {
          right: -100%;
          transition: right .6s ease-out;
        }
      }
}