.cards{
    flex: 1 1;
    overflow-y: scroll;
}

.card{
    @include flexbox();
    @include flex-flow(row nowrap);
    background: $whiteOpacity5;
    border-top: 4px solid $white;
    padding: 1em;
    cursor: url("../img/statue-of-liberty.png"), auto;
    img{
        width: 150px;
        height: 130px;
        border-radius: 8px;
        border: 1px solid $white;
    }

}

.card-text{
    font-size: 1.5em;
    color: $white;
    padding: 0 0 0 1em;
}