.input-send {
    max-width: 260px;
    width: 260px;
    height: 40px;
    border-radius: 20px;
    font-style: italic;
    border: none;
    outline: none;
    padding: 0 .5em;
    &:focus {
        font-style: normal;
    }
}