.input-send {
    max-width: 230px;
    width: 260px;
    height: 40px;
    border-radius: 20px;
    font-style: italic;
    border: none;
    outline: none;
    padding: 0 .5em;
    @media(min-width:$screen-lg){
        max-width: 240px;
    }
    &:focus {
        font-style: normal;
    }
}