///////////
// COLORS
///////////

$white: #fff;
$black: #000;

$tundora: #4a4a4a;
$dovegray: #707070;
$gray: #8f8f8f;
$mercury: #e2e2e2;

$dodgerblue: #378DFF;
$kashmirblue: #516da3;
$sanmarino: #4267B2;

$milanored:#B60C0C;

$tapestry: #a95aa5;

////////////
// OPACITY
////////////
$whiteOpacity1: rgba(255, 255, 255, .1);
$whiteOpacity2: rgba(255, 255, 255, .2);
$whiteOpacity3: rgba(255, 255, 255, .3);
$whiteOpacity5: rgba(255, 255, 255, .5);
$whiteOpacity9: rgba(255, 255, 255, .9);

$blackOpacity1: rgba(0,0,0,.1);
$blackOpacity2: rgba(0,0,0,.2);
$blackOpacity3: rgba(0,0,0,.3);
$blackOpacity5: rgba(0,0,0,.5);
$blackOpacity7: rgba(0,0,0,.7);
////////////////
// FONT WEIGHT
////////////////

$fontWeightLight: 300;
$fontWeightBase: 400;
$fontWeightBold: 500;
$fontWeightBolder: 700;

/////////////////
// SCREEN SIZES
/////////////////

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

////////////
// Z-INDEX
////////////
$zindex-header: 10;
$zindex-cards: 30;
$zindex-article: 40;
$zindex-comments: 50;