///////////
// COLORS
///////////

$white: #fff;
$black: #000;

$gray: #8f8f8f;
$dovegray: #707070;

$botticelli: #d3dae7;

$dodgerblue: #378DFF;
$kashmirblue: #516da3;
$tapestry: #a95aa5;

////////////
// OPACITY
////////////
$whiteOpacity1: rgba(255, 255, 255, .1);
$whiteOpacity2: rgba(255, 255, 255, .2);
$whiteOpacity3: rgba(255, 255, 255, .3);

$blackOpacity2: rgba(0,0,0,.2);
////////////////
// FONT WEIGHT
////////////////

$fontWeightLight: 300;
$fontWeightBase: 400;
$fontWeightBold: 500;
$fontWeightBolder: 700;

/////////////////
// SCREEN SIZES
/////////////////

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
