///////////
// COLORS
///////////

$white: #FFF;
$black: #000;

$mineshaft:#232323;
$tundora: #494949;
$scorpion: #5C5C5C;
$boulder: #787878;
$dustygray: #979797;
$alabaster: #FAFAFA;
$wildsand:#f5f5f5;

$yellowsea: #FFAD0B;
$blazeorange:#ff6300;
$auchico: #895D5E;

$wildwatermelon: #FC5E71;
$torchred: #FF141F;

$cerulean: #00A3E4;
$malibu: #60D2FF;
$skyblue: #6BC8ED;
$frenchpass: #BAEBFE;
$pattensblue: #E1F6FF;

////////////
// OPACITY
////////////
$whiteOpacity2:rgba(255,255,255,.2);
////////////////
// FONT WEIGHT
////////////////

$fontWeightLight: 300;
$fontWeightBase: 400;
$fontWeightBold: 500;
$fontWeightBolder: 700;

/////////////////
// SCREEN SIZES
/////////////////

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
